# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env

# Streamlit specific files
.streamlit/

# PDB files generated (if any)
*.pdb
